html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #222;
  height: 100%;
}

canvas {
  display: block;
}

.fps {
  position: absolute;
  background-color: #555555;
  opacity: 0.82;
}
